backups/
places
auto-save-list/
ede-projects.el
history
url/
.session
abbrev_defs
bookmarks
*.*~
projectile-bookmarks.eld
tramp
var/pcache/gh/gh-gist-api/dolzenko
*.elc
.mc-lists.el
ac-comphist.dat
session*